[submodule "external/zelda3"]
	path = external/zelda3
	url = https://github.com/jshsakura/zelda3.git
	branch = ko-dialogue
[submodule "external/fake-08"]
	path = external/fake-08
	url = https://github.com/jshsakura/fake-08.git
	branch = esp32p4-retro-go
[submodule "external/o2em-go"]
	path = external/o2em-go
	url = https://github.com/jshsakura/o2em-go.git
[submodule "external/fceumm-go"]
	path = external/fceumm-go
	url = https://github.com/sylverb/fceumm-go.git
[submodule "external/tgbdual-go"]
	path = external/tgbdual-go
	url = https://github.com/sylverb/tgbdual-go.git
[submodule "external/prosystem-go"]
	path = external/prosystem-go
	url = https://github.com/sylverb/prosystem-go.git
